<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/config/output.css">
    <title>Login</title>
</head>
<body class="bg-slate-400">
    <p class="italic">Ini adalah Halaman Login</p>
    <div>
        <div></div>
    </div>
</body>
</html>